* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
}
p {
  line-height: 1.7;
  color: hsl(236, 13%, 42%);
}
.parent {
  background-color: hsl(36, 100%, 99%);
}
.container {
  width: 1040px;
  height: 1vh;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 10px 1fr 1fr 100px;
  grid-template-areas: "logo nav nav" "img img aside" "h2 para aside" "pic1 pic2 pic3";

  margin-left: auto;
  margin-right: auto;
  row-gap: 50px;
  column-gap: 20px;
  background-color: hsl(36, 100%, 99%);
}
a {
  text-decoration: none;
}
.logo {
  grid-area: logo;
  grid-area: 1/ 1 / span 1 / span 1;
}
.nav {
  grid-area: nav;
  grid-area: 1 / 2 / span 1 / span 2;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}
.nav li {
  margin-left: 35px;
  margin-top: 10px 
}
.nav li a {
  color: hsl(236, 13%, 42%);
}
.nav li a:hover {
  color: hsl(5, 85%, 63%);
}
.main-img {
  grid-area: img;
  margin-top: 20px;
}
.main-img img {
  width: 650px;
  height: 250px;
}
.bright-future {
  grid-area: h2;
  margin-top: -25px;
  font-weight: 800;
  font-size: xxx-large;
}
.paragraph {
  margin-top: -25px;
  grid-area: para;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 11px;
  font-size: 14px;
}
.paragraph button {
  background-color: hsl(5, 85%, 63%);
  color: hsl(36, 100%, 99%);
  padding: 14px 12px;
  width: 150px;
  font-weight: bold;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-top: 40px;
  border: none;
  cursor: pointer;
}
.paragraph button:hover {
  background-color: black;
}
aside {
  grid-area: aside;
  background-color:hsl(240, 100%, 5%);
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 0px 25px 0 25px;
  justify-content: space-evenly;
}
aside h2 {
  font-size: 30px;
  margin-top: -5px;
  color:hsl(35, 77%, 62%);
}
aside div {
  margin-top: -5px;
}
aside div a {
  display: block;
  color: hsl(36, 100%, 99%);
  padding-bottom:10px;
  font-size: 17px;
}
aside div a:hover {
  color: hsl(35, 77%, 62%);
}
aside div p {
  padding-right: 10px;
  font-size: 13px;
  font-weight: 400;
  color:  hsl(233, 8%, 79%);
}
aside hr {
  border-top: 0.2px solid hsl(233, 8%, 79%);
}
.one {
  grid-area: pic1;
}
.two {
  grid-area: pic2;
}
.three {
  grid-area: pic3;
}
.foot {
  display: flex;
  justify-content: flex-start;
}
.foot div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.foot div h2 {
  font-size: 25px;
  color: hsl(233, 8%, 79%);
}
.foot div h4 a {
  color: hsl(240, 100%, 5%);
  font-size: 17px;
}
.foot div h4 a:hover {
  color:hsl(5, 85%, 63%);
}
.foot div p {
  font-size: small;
  padding-right: 25px;
}
.foot img {
  width: 80px;
  height: 100px;
  margin-right: 20px;
}


@media (max-width: 1440px;) {
  
}

